@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");

@import "@digital-go-jp/design-tokens";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scrollbar-gutter: stable;
  }

  :root:has(dialog[open]) {
    overflow: clip;
    scrollbar-gutter: auto;
  }

  body {
    @apply font-sans text-std-17N-170 text-solid-gray-900;
  }
}
