@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family:
      "Noto Sans JP",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      sans-serif;

    @apply text-std-17N-7 text-solid-grey-900;
  }
}
